/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: #D8C398;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: lowercase;
    padding-bottom: 1em;
    color: #D8C398;
}

a:hover, a:focus {
    background-color: maroon;
}

img {
    display: block;
    max-width: 200px;
    margin: 1em auto;
}

img:hover {
    /* border-radius: 50%;
    transition: all 0.8s; */
    opacity: 0.5;
}

.projects p {
    padding: 1em;
    margin: 0;
}

.contact p {
    padding: 1em;
    margin: 0;
}

h3 {
    margin-bottom: 0;
}

.header h3 {
    padding-bottom: 1em;
}

/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/

header {
    text-align: center;
    background-color: #151018;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/jungle-life-in-refugee-camp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #D8C398;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Cards: MAIN
--------------------------------------------------------------*/
.main-content {
    display: grid;
    grid-template-columns: 50vw, 50vw;
    grid-template-rows: 3fr, 2fr, 3fr, 1fr, 1fr;
    grid-template-areas:
        "about about"
        "skills skills"
        "projects projects"
        "contact social-links"
        "community resources";  
}

.about {
    grid-area: about;
    background-color: #290722;
    color: #D8C398;
}

.about p {
    padding: 1em;
}

.skills {
    grid-area: skills;
    background-color: #D8C398;
    color: #151018;
}

.projects {
    grid-area: projects;
    background-color: #151018;
    color:#D8C398;
}

.projects a {
    color: #D8C398;
    display: inline-block;
    border: solid #D8C398 1.5px;
    margin-bottom: 1em;
    padding: 0.5em;
}

.contact {
    grid-area: contact;
    background-color: #290722;
}

.contact a {
    color: #D8C398;
    display: inline-block;
    border: solid #D8C398 1.5px;
    margin-bottom: 1em;
    padding: 0.5em; 
}
.social-links {
    grid-area: social-links;
    display: flex;
    flex-direction: column;
    background-color: #D8C398;
    color: #151018;
    justify-content: space-evenly;
}

.social-links a {
    border: solid  #151018 1.5px;
    padding: 0.5em;
    margin: 1em;
    color: #151018;    
}

.community {
    grid-area: community;
    background-color: #D8C398;
    color: #290722;
}
.resources {
    grid-area: resources;
    background-color: #290722;
    color: #D8C398;
    max-width: 50vw;
}

.resources p {
    margin: 0;
    padding: 1em;
}

.resources a {
    display: inline-block;
    border: solid ;
    padding: 0.5em;
    margin: 1em;
}

/*--------------------------------------------------------------
Footer:
--------------------------------------------------------------*/
footer {
    text-align: center;
    background-color: #151018;
    color: #D8C398;
}

footer p {
    margin: 0;
    padding: 2em;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {


    @media screen and (min-width: 500px) {
        .main-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "about about skills"
                "social-links projects projects"
                "contact community resources";
        }
        .community {
            background-color: #290722;
            color: #D8C398;
        }
    }

    @media screen and (min-width: 800px) {
        h1 {
            font-size: 5em;
        }

        .developer {
            font-size: 2.5em;
        }

        em {
            font-size: 2em;
            padding: 0;
            margin: 0;
        }

        .main-content {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

        img {
            max-width: 25vw;
        }
    }

    @media screen and (min-width: 1200px) {
        body {
            max-width: 1000px;
            background-color: #151018; 
            margin: 0 auto;
        }
        footer {
            background-color: #D8C398;
            color: #290722;
        }

        .header h3 {
            color: #290722;
        }
    }
}